:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.forum{
  display: flex;
  /* flex-direction: column;   */
  flex-wrap: wrap;
  width:100vw;
  height: 100vh;
}

.forum-guidelines{
  width: 18%;
  height: 100%;
  border-right: 1px solid rgb(182, 176, 176);
  
  
}
.forum-guidelines ol{
  padding-left:2rem;
  padding-right: 1rem;
}
.forum-guidelines li{
  font-size: small;
  margin-bottom: 0.5rem;
}

.forum-guidelines h2{
  font-weight: bold;
  font-size:large;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.forum-guidelines h3{
  font-weight: bold;
  padding-left:1rem;
}
.ask-question{
  width:64%;
  padding: 2rem;
}

.ask-question Textarea{
  height: 15rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ask-question .divider{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.drawer{
  background-color: white;
  width:18%;
  padding:2rem;
  border-left: 1px solid rgb(182, 176, 176);
height: 100vh;
}

.drawer h5{
  margin-bottom: 1rem;
}

.button-group{
  display: flex;
  flex-direction: column;
}

.tray{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.button-group{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.button-group h6{
  margin-bottom: 1rem;

}
.button-group .button{
  background-color: white;
  width: 5.5rem;
  height: 2rem;
  border: 1px solid  rgb(0, 132, 255);
  color: rgb(0, 132, 255);
  margin-bottom: 1rem;
  font-size: small;
}

.button-group .button:hover{
  background-color: rgb(0, 132, 255);
  color: #ffffff;
}

.activity-tags{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.activity-tags .button{
  background-color: white;
  width: 5.5rem;
  height: 2rem;
  border: 1px solid  orange;
  color:orange;
  margin-bottom: 1rem;
  font-size: small;

}
.activity-tags h6{ 
   margin-bottom: 1rem;
}
.activity-tags .button:hover{
  background-color: orange;
  color: #ffffff;
}
.activity-tags .button.clicked {
  border: none
}

.date-tags{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.date-tags h6{
  margin-bottom: 1rem;
}
.date-tags .button{
  background-color: white;
  width: 5.5rem;
  height: 2rem;
  border: 1px solid  #2DCE96;
  color:#2DCE96;
  margin-bottom: 1rem;
  font-size: small;
}

.date-tags .button:hover{
 
  background-color: #2DCE96;
  color: #ffffff;
}
.forum-guidelines h6{
  font-weight: 500;
}


.tabs{
  width:64%;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* .nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
} */
ul.nav{
  width: 50%;
  margin: auto ;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.nav li{
list-style: none;
width: 50%;
padding: 0.2rem;
list-style: none;
text-align: center;
cursor: pointer;
transition: all 0.7s;
border-bottom-left-radius: 2rem;
border-top-left-radius: 2rem;
}

ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.nav li.active {
  background: #39A2DB;
}

.image-tab{
  display: flex;
  border: 1px solid gray;
  height:25rem;
  width:90%;
  margin:2rem auto 2rem;
  flex-wrap: wrap;
}

.image-input-button{
  display: flex;
  flex-direction: row;
  justify-content:space-around
}

.image-tab .image{
  height:97%;
  width:100%;
  /* flex-wrap: wrap; */
/* overflow: hidden; */
}

.image-tab-input{
  display: flex;
  /* margin-left:2.5rem */
}
.image-tab-input::file-selector-button{
  background-color:#38A169;
  padding:0.5rem;
  border-radius: 0.5rem;
  /* margin: auto; */
  display: flex;
  /* align-self: center; */
  border:none;
  color: #ffffff;
}

.selected-tags{
 margin-bottom: 2rem;
}
.buttons-class{
  display: flex;
  flex-direction: column;
}

.post-link{
  background-color: #CBD5E0;
  padding: 0.5rem;
  border-radius: 5px;
  /* margin-left: 2rem; */
  /* margin-top: 20rem; */
}

.link-search{
  display: flex;
  flex-direction: row;
  /* margin-top: 2rem; */
/* margin-left:0.5rem; */
padding: 1rem;
  justify-content: space-between;
}
.forum-posts-container{
  width:64%
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.posts{
  max-height: 553px; /* Set the maximum height according to your design */
  overflow-y: auto;
}